@import url('https://fonts.googleapis.com/css2?family-Chakra+Petch:w ght@400:700&display=swap'); 


:root{
        --cor-de-fundo: #7c2070;
        --rosa: #e21ae9;
        --branco: #800264;
        --botao-ativo: #560869;
        --botao-inativo: rgba(255, 0, 200, 0.5);
        --texto-fundo: rgb(255, 255, 255);
    }
body{
    background-color: var(--cor-de-fundo);
    color: var(--rosa);
    font-family: 'Courier New', Courier, monospace;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span{
    color: var(--rosa)
}
.botao{
    font-family: 'Courier New', Courier, monospace;
}